/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 18, 2015, 7:28:35 PM
    Author     : developer
*/
body {
  padding: 0;
  margin: 0;
  text-align: center;
  font-family: Arial, Verdana, Geneva, sans-serif;
  font-size: 12px;
}
body .al-left {
  float: left;
}
body .al-right {
  float: right;
}
body .t-right {
  text-align: right;
}
body .t-left {
  text-align: left;
}
body .t-center {
  text-align: center;
}
body .t-absolute {
  position: absolute;
}
body .t-relative {
  position: relative;
}
body .reset-bottom-40 {
  margin-bottom: 40px;
}
body .block-height-520 {
  height: 520px;
}
body h1,
body h2,
body h3,
body h4,
body p,
body ul,
body li,
body img {
  padding: 0;
  margin: 0;
}
body input,
body textarea,
body select,
body button {
  outline: none;
}
body img {
  border: 0;
  margin: 0;
  padding: 0;
  outline: none;
}
body table {
  border-collapse: collapse;
  border: none;
  width: 100%;
}
body a {
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}
body #header {
  width: 100%;
  height: 261px;
  background: url('/assets/img/design/header.png') repeat-x;
  background-position-y: 51px;
}
body #header .line-blue {
  height: 7px;
  background-color: #141466;
}
body #header .logo {
  display: block;
  width: 250px;
  height: 142px;
  background: url('/assets/img/design/logo.png') no-repeat;
  background-position: 55% 25%;
}
body #header .logo p {
  font-family: Vivaldi;
  font-size: 35px;
  font-weight: bolder;
  padding-top: 102px;
}
body #header .rekvizit {
  width: 100%;
  padding-top: 28px;
}
body #header .rekvizit p {
  font-size: 32px;
  line-height: 38px;
}
body #header .rekvizit p span {
  color: #999999;
}
body #header .rekvizit p.rekvizit-text {
  font-size: 16px;
}
body #header .basket {
  display: block;
  width: 141px;
  height: 51px;
  border: 1px solid #7b7b7b;
  position: relative;
  top: 28px;
  border-radius: 50%;
  padding-top: 90px;
  background: url('/assets/img/design/basket.png') no-repeat #ffffff;
  background-position: 50% 30%;
}
body #header .basket p {
  font-size: 12px;
}
body #header .basket p span {
  color: #f10000;
}
body #site {
  margin-top: -40px;
  padding-bottom: 60px;
}
body #site h1 {
  font-size: 30px;
  color: #000000;
  font-weight: normal;
  margin-bottom: 40px;
}
body #site h2 {
  font-size: 20px;
  color: #000000;
  font-weight: normal;
  margin-bottom: 10px;
}
body #site .content {
  font-size: 14px;
  line-height: 20px;
}
body #site .content p {
  margin-bottom: 15px;
}
body #site .content p a {
  color: #1a81d6;
  border-bottom: 1px solid #1a81d6;
}
body #site .content p a:hover {
  color: #422f7b;
  border-bottom: 1px solid #422f7b;
}
body #site .content p.ph2 {
  font-size: 20px;
  color: #000000;
  font-weight: normal;
  margin-bottom: 20px;
}
body #site .content ul {
  margin: 0 0 20px 25px;
}
body #site .content ul li {
  list-style: disc;
}
body #site .content ol {
  margin: 0 0 20px 25px;
}
body #site .content ol li {
  list-style: decimal;
}
body #site .content table {
  font-size: 14px;
}
body #site .content table tr {
  border-bottom: 2px solid #e2e2e2;
}
body #site .content table tr:last-child,
body #site .content table tr:first-child {
  border-bottom: none;
}
body #site .content table tr td,
body #site .content table tr th {
  padding: 5px;
}
body #site .content table tr th {
  color: #ffffff;
  background: #aeaeae;
}
body #site p.ph2 {
  font-size: 20px;
  color: #000000;
  font-weight: normal;
  margin-bottom: 10px;
}
body #site a.banner {
  display: block;
  border: 1px solid #CCCCCC;
  padding: 5px;
  margin-bottom: 30px;
  overflow: hidden;
  -webkit-box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.43);
  -moz-box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.43);
  box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.43);
}
body #site a.banner img {
  width: 208px;
}
body #site ul.action-list li {
  margin-bottom: 6px;
}
body #site ul.action-list li a {
  color: #9437e3;
  border-bottom: 1px solid #9437e3;
}
body #site .breadcrumbs {
  color: #666666;
  margin-bottom: 30px;
}
body #site .breadcrumbs a {
  color: #2989d9;
  border-bottom: 1px solid #2989d9;
}
body #site .breadcrumbs span {
  color: #000000;
  padding: 0  2px 0 3px;
}
body #site .sep.left-sep {
  margin: 40px auto;
  width: 157px;
  height: 28px;
  background: url('/assets/img/design/left-sep.png');
}
body #footer {
  width: 100%;
  height: 156px;
  background: url('/assets/img/design/footer.png') repeat-x;
  padding-top: 60px;
}
body #footer p {
  color: #6f6f6f;
}
body #footer p span {
  font-style: italic;
}
body #footer .footer-text {
  margin-bottom: 20px;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 18, 2015, 7:28:50 PM
    Author     : developer
*/
#menu-top {
  height: 44px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7878e5+0,6767e0+100&amp;0.85+0,1+100 */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc4NzhlNSIgc3RvcC1vcGFjaXR5PSIwLjg1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2NzY3ZTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(120, 120, 229, 0.85) 0%, #6767e0 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(120, 120, 229, 0.85)), color-stop(100%, #6767e0));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(120, 120, 229, 0.85) 0%, #6767e0 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(120, 120, 229, 0.85) 0%, #6767e0 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(120, 120, 229, 0.85) 0%, #6767e0 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(120, 120, 229, 0.85) 0%, #6767e0 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d97878e5', endColorstr='#6767e0', GradientType=0);
  /* IE6-8 */
}
#menu-top ul {
  margin: 11px 0 0 -10px;
}
#menu-top ul li {
  display: inline-block;
  margin: 0 10px 0 0;
  position: relative;
}
#menu-top ul li:before {
  content: '|';
  font-size: 14px;
  display: inline-block;
  color: #ffffff;
  margin-right: 10px;
}
#menu-top ul li:first-child:before {
  content: '';
}
#menu-top ul li a {
  color: #ffffff;
}
#menu-top ul li a:hover {
  color: #eee;
}
#menu-top ul li ul {
  position: absolute;
  width: 150px;
  top: 22px;
  left: 0;
  display: none;
  list-style: none;
  z-index: 999;
  text-align: left;
  padding: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6767e0+0,7878e5+100&amp;1+0,0.85+100 */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY3NjdlMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3ODc4ZTUiIHN0b3Atb3BhY2l0eT0iMC44NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #6767e0 0%, rgba(120, 120, 229, 0.85) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6767e0), color-stop(100%, rgba(120, 120, 229, 0.85)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #6767e0 0%, rgba(120, 120, 229, 0.85) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #6767e0 0%, rgba(120, 120, 229, 0.85) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #6767e0 0%, rgba(120, 120, 229, 0.85) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #6767e0 0%, rgba(120, 120, 229, 0.85) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6767e0', endColorstr='#d97878e5', GradientType=0);
  /* IE6-8 */
}
#menu-top ul li ul li {
  display: block;
  padding: 4px 0;
  margin: 0;
}
#menu-top ul li ul li:before {
  content: '';
}
#menu-top ul li ul li:first-child {
  padding-top: 12px;
}
#menu-top ul li ul li:last-child {
  padding-bottom: 12px;
}
#menu-left {
  margin-bottom: 30px;
  font-size: 13px;
}
#menu-left ul li {
  display: block;
  position: relative;
  margin-bottom: 6px;
  color: #92435E;
}
#menu-left ul li ul {
  position: absolute;
  padding: 20px 0 16px  40px;
  width: 160px;
  border: 1px solid #CCCCCC;
  background-color: #ffffff;
  top: 0;
  left: 50px;
  display: none;
  list-style: none;
  z-index: 999;
  -webkit-box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.43);
  -moz-box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.43);
  box-shadow: 0px 1px 10px 0px rgba(50, 50, 50, 0.43);
}
#menu-left ul li ul li {
  display: block;
}
#menu-left ul li a {
  color: #1a81d6;
  border-bottom: 1px solid #1a81d6;
}
#menu-left ul li a:hover {
  color: #422f7b;
  border-bottom: 1px solid #422f7b;
}
#menu-bottom {
  margin-bottom: 30px;
}
#menu-bottom ul li {
  display: inline-block;
  margin: 0 20px 0 0;
  position: relative;
}
#menu-bottom ul li a {
  color: #1a81d6;
  border-bottom: 1px solid #1a81d6;
}
#menu-bottom ul li a:hover {
  color: #422f7b;
  border-bottom: 1px solid #422f7b;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 18, 2015, 7:29:20 PM
    Author     : developer
*/
form {
  padding: 0;
}
form.search {
  margin-top: 8px;
  background-color: transparent;
}
form.search input {
  width: 220px;
  padding: 0 18px;
  background-color: #ffffff;
  color: #666666;
  border: 1px solid #999999;
  border-radius: 6px;
  line-height: 24px;
  float: left;
}
form.search button {
  width: 34px;
  height: 25px;
  border: 1px solid #999999;
  border-radius: 6px;
  color: #ffffff;
  float: right;
  position: relative;
  top: 1px;
  cursor: pointer;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c742c8+83,000000+100&amp;1+0,0.23+100 */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M3NDJjOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgzJSIgc3RvcC1jb2xvcj0iI2M3NDJjOCIgc3RvcC1vcGFjaXR5PSIwLjM2Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4yMyIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #c742c8 0%, rgba(199, 66, 200, 0.36) 83%, rgba(0, 0, 0, 0.23) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c742c8), color-stop(83%, rgba(199, 66, 200, 0.36)), color-stop(100%, rgba(0, 0, 0, 0.23)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #c742c8 0%, rgba(199, 66, 200, 0.36) 83%, rgba(0, 0, 0, 0.23) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #c742c8 0%, rgba(199, 66, 200, 0.36) 83%, rgba(0, 0, 0, 0.23) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #c742c8 0%, rgba(199, 66, 200, 0.36) 83%, rgba(0, 0, 0, 0.23) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #c742c8 0%, rgba(199, 66, 200, 0.36) 83%, rgba(0, 0, 0, 0.23) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c742c8', endColorstr='#3b000000', GradientType=0);
  /* IE6-8 */
}
@font-face {
  font-family: Vivaldi;
  src: url(/assets/fonts/design/Vivaldi.ttf);
  
  /* Имя шрифта */
  /* Путь к файлу со шрифтом */
}
/*# sourceMappingURL=styles.css.map */